@font-face {
  font-family: timer;
  src: url(CursedTimerUlil-Aznm.ttf);
}


body {
    margin: 0;
    background:#1B244A;
    color:#fff;
}

.container {
    display: flex;
    justify-content:center;
    margin:auto;
    width:75%;
}

.score-title{
    
}
.score-col{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:150px;
    padding:20px;
    margin:20px 30px;
    height:auto;
}

.score-num{
    background:#000;
    padding:15px 0;
    font-size: 90px;
    font-family:timer;
    color:#F94F6D;
    width:100%;
    text-align:center;
    margin:10px 0;
}

.score-btn-wrap{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-bottom:10px;      
}

.score-btn{
    border: 1px rgba(255, 255, 255, 0.5) solid;
    color:rgba(255, 255, 255, 0.5);
    padding:10px 10px;
    border-radius:4px;
    font-family:timer;
    font-size:12px;
    background:none;
    cursor:pointer;
}